<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnBridge_E_LearningPlatform</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LearnBridge_E_LearningPlatform.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    LearnBridge
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <!-- Public -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Courses" asp-action="Index">Courses</a>
                        </li>

                        <!-- Student -->
                        @if (User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Enrollments"
                                   asp-action="MyEnrollments">
                                    My Enrollments
                                </a>
                            </li>
                        }

                        <!-- Teacher -->
                        @if (User.IsInRole("Teacher"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Lessons"
                                   asp-action="Index">
                                    Lessons
                                </a>
                            </li>
                        }

                        <!-- Admin -->
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Admin"
                                   asp-action="Dashboard">
                                    Admin Dashboard
                                </a>
                            </li>
                        }
                    </ul>

                    <!-- Right side -->
                    <ul class="navbar-nav">
                        @if (User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-controller="Enrollments"
                                   asp-action="MyEnrollments">
                                    My Enrollments
                                </a>
                            </li>
                        }


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-muted">
                                    Hello, @User.Identity.Name
                                </span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger"
                                   asp-controller="Auth"
                                   asp-action="Logout">
                                    Logout
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Auth"
                                   asp-action="Login">
                                    Login
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - LearnBridge
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
