@model LearnBridge_E_LearningPlatform.Models.Lesson

<h2>Create Lesson</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VideoUrl"></label>
        <input asp-for="VideoUrl" class="form-control" />
        <span asp-validation-for="VideoUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Upload Material</label>
        <input type="file" name="MaterialUpload" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CourseId"></label>
        <select asp-for="CourseId"
                asp-items="ViewBag.Courses"
                class="form-control">
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Create Lesson
    </button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}